{% extends 'base.html' %}

{% block content %}
<h3> Add book  Library</h3>

<form action="" method="post">
    {% csrf_token %}
    <b><label>Book Name:- </label></b>
    <input type="text" name="nm" required><br><br>

    <b><label > Book Price:-</label></b>
    <input type="number" name="prc" required><br><br>

    <b><label > Book Qty:-</label></b>
    <input type="number" name="qty"required><br><br>

    <b><label > Book is published:-</label></b>&nbsp;
    Yes  &nbsp;<input type="radio" name="ispub" value="Yes" checked > &nbsp; &nbsp; &nbsp; 
    No  &nbsp;<input type="radio" name="ispub" value="No"><br><br>


    <input type="submit" class="btn btn-primary">

</form>

<form action="{% url 'upload_csv' %}" method="POST" class="post-form" enctype="multipart/form-data">  
    {% csrf_token %}  
    {{ form.as_p }}  
    <input type="file" name ='CSV_FILE'>
    <button type="submit" class="save btn btn-info">Upload</button>  
</form>  
{% endblock %}