{% extends 'base.html' %}

{% block content %}

          <div>
          <div><h2> All Active Books</h2></div> <div><a href="{% url 'create_csv'  %}" class="btn btn-info">Download CSV</a></div>
          
          </div>
          <table class="table table-striped " style="background-color: rgba(243, 215, 133, 0.496);">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Book Name</th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Is_published</th>
                <!-- <th scope="col">Is_active</th> -->
                <th scope="col">Actions</th>
              </tr>
            </thead>

            <tbody>
                {% for book in allbooks %}
                 <tr>
                <th scope="row">{{book.id}}</th>
                <td>{{book.name}}</td>
                <td>{{book.price}}</td>
                <td>{{book.qty}}</td>
                <td>{{book.is_published}}</td>
                <!-- <td>{{book.is_active}}</td> -->
               
                  <td>
                    <a href="{% url 'show_single_books' book.id %}" class="btn btn-primary">View</a>
                    <a href="{% url 'edit_book' book.id %}" class="btn btn-warning">Edit</a>
                    <form action="{% url 'soft_delete_book' book.id %}" method = "post">                      
                      {% csrf_token %}
                      <input type="submit" value="Soft Delete" class="btn btn-danger" >
                    </form>
                  </td>

              </tr>
                {% endfor%}
             
            
            </tbody>
          </table>
        
{% endblock %}